<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenida</title>
</head>
<body>
    <p>¡Bienvenido(a)! Elija su rol:</p>
    <form action="{% url 'evaluacion:bienvenida' %}" method="post">
        {% csrf_token %}
        <button type="submit" name="rol" value="1">Estudiante</button>
        <button type="submit" name="rol" value="2">Profesor</button>
        <button type="submit" name="rol" value="3">Administrativo</button>
    </form>
</body>
</html>