<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documentación</title>
</head>
<body>
    <h1>Documentación</h1>
    En esta sección encuentra los documentos relacionados con el proceso de construcción, aplicación y marco teórico de los instrumentos definidos dentro del proyecto de evaluación docente EDIFICANDO.
    <ul>
        <li><a href="https://edificando.unal.edu.co/assets/edificando/model-edificando-94cbfdcc3c025fb7108c9490bafee9a1.pdf">Modelo Edificando</a></li>
        <li><a href="https://edificando.unal.edu.co/assets/edificando/ImpactoALargoPlazoDeLosBuenosProfesores-40bcad8bb80d29b1c7abee11dfda7963.pdf">Impacto a Largo Plazo de los Buenos Profesores</a></li>
        <li><a href="https://edificando.unal.edu.co/assets/edificando/version-imprimible-9d1981b2c7bff787b5d93bdb2f123219.doc">Versión Imprimible Formulario EPEDD</a></li>
    </ul>

    Volver al menú principal
    <a href="{% url 'evaluacion:inicio' %}">Volver</a>
    Preguntas Evaluativas
    <a href="{% url 'evaluacion:preguntas_evaluativas' %}">Preguntas Evaluativas</a>

    Consultar mis resultados
    

    Cerrar sesión
    <a href="{% url 'evaluacion:logout' %}">Cerrar sesión</a>

</body>
</html>