<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;600&family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'Evaluacion/documentacion.css' %}">
    <script src="https://kit.fontawesome.com/a9e228592b.js" crossorigin="anonymous"></script>
    
    <title>Documentación</title>
</head>
<body>
    <header class="cabecera">
        <nav class="nav-bar">
            <div class="navbar-texts">

                <h1>EVALUACIÓN INTEGRAL DE DOCENTES Y CURSOS</h1>

            </div>
            <picture class="logo">
                <img class="logo-img" src="{% static 'Evaluacion/escudoUnal.svg' %}" alt="Escudo UNAL">
            </picture>
        </nav>
    </header>
    <article class="box-content">
        <div class="box-title">
            <h1 class="h1">Documentación</h1>
        </div>
    <div class="box-text">
        <p>En esta sección encuentra los documentos relacionados con el proceso de construcción, aplicación y marco teórico de los instrumentos definidos dentro del proyecto de evaluación docente EDIFICANDO.
        </p>
         <ul>
            <li><a href="https://edificando.unal.edu.co/assets/edificando/model-edificando-94cbfdcc3c025fb7108c9490bafee9a1.pdf">Modelo Edificando</a></li>
            <li><a href="https://edificando.unal.edu.co/assets/edificando/ImpactoALargoPlazoDeLosBuenosProfesores-40bcad8bb80d29b1c7abee11dfda7963.pdf">Impacto a Largo Plazo de los Buenos Profesores</a></li>
            <li><a href="https://edificando.unal.edu.co/assets/edificando/version-imprimible-9d1981b2c7bff787b5d93bdb2f123219.doc">Versión Imprimible Formulario EPEDD</a></li>
        </ul>
    </div>
    </article>
    
    <div class="box-buttoms">
    <a href="{% url 'evaluacion:inicio' %}" class="return">Volver</a>
    <a href="{% url 'evaluacion:preguntas_evaluativas' %}" class="info">Preguntas Evaluativas</a>
    <a href="{% url 'evaluacion:resultados_numericos' %}" class="results">Consultar mis resultados</a>
    <a href="{% url 'evaluacion:logout' %}" class="logout">Cerrar sesión</a>
    </div>
</body>
</html>