{% load util %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Encuesta</title>
</head>
<body>
    Inicio de encuesta:
    <a href="{% url 'evaluacion:info_encuesta' %}">Volver</a>
    {% if asignaturas %}
    {{ tipo }}
    <h1>Pregunta {{ numpregunta }}</h1>
    <p><strong> Seleccione por lo menos una opción por grupo, en caso contrario no podrá continuar con la encuesta:</strong></p>
    {{ descripcion }}

    

    {% if tipo == 'Numérica' %}
        <form action="{% url 'evaluacion:procesar_pregunta' %}" method="POST" onsubmit="false">
            {% csrf_token %}
            {% for asignatura in asignaturas %}
            <div>
                <p>{{ asignatura.nombre }} [{{ asignatura.profesor }}]</p>
                {% for i in rango %}
                    <input type="radio" name="respuesta_{{ asignatura.codigogrupo }}" id="respuesta{{ i }}_{{ asignatura.codigogrupo }}" value="{{ i }}">
                    <label for="respuesta{{ i }}_{{ asignatura.codigogrupo }}">{{ i }}</label>
                    {% with grupo=asignatura.codigogrupo %}
                    {{ respuestas|get_value:grupo }}
                    {% endwith %}
                {% endfor %}
            </div>
            {% endfor %}
            {% if numpregunta > 1 %}
            <input type="submit" name="accion" value="Anterior">
            {% endif %}
            <input type="submit" name="accion" value="Siguiente">
            
        </form>
    {% elif tipo == 'Abierta' %}
    Abierta
    {% endif %}
    {% else %}
    <p>No hay asignaturas registradas.</p>
    {% endif %}
</body>
</html>