<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Encuesta</title>
</head>
<body>
    Inicio de encuesta:
    <a href="{% url 'evaluacion:info_encuesta' %}">Volver</a>
    {% if asignaturas %}
    {{ tipo }}
    <h1>Pregunta {{ numpregunta }}</h1>
    <p><strong> Seleccione por lo menos una opción por grupo, en caso contrario no podrá continuar con la encuesta:</strong></p>
    {{ descripcion }}

    <!-- Asignaturas: {{ asignaturas }}
    <br>

    Respuestas: {{ respuestas }}
    <br>

    Resultados:

    {% for n in asignaturas %}
        {{ n.codigogrupo }}
        {% for key, value in respuesta.items %}
            {% if key == '1' %}
                {{ n }} = {{ value }}
            {% endif %} -->
            <!-- {{ key }} = {{ value }}
        {% endfor %}
    {% endfor %} -->

    Respuestas: {{ respuestas }}

    {% for asignatura in asignaturas %}
        {% for key, value in respuestas.items %}
            {% if key == asignatura.codigogrupo %}
                {{ asignatura.codigogrupo }} = {{ value }}
            {% endif %}
        {% endfor %}
    {% endfor %}

    

        <form action="{% url 'evaluacion:procesar_pregunta' %}" method="POST" onsubmit="false">
            {% csrf_token %}
            {% for asignatura in asignaturas %}
            <div>
                <p>{{ asignatura.nombre }} [{{ asignatura.profesor }}]</p>
                {% if tipo == 'Numérica' %}
                    {% if respuestas %}
                    {% for i in rango %}
                        {% for key, value in respuestas.items %}
                            {% if key == asignatura.codigogrupo %}
                                <input type="radio" name="respuesta_{{ asignatura.codigogrupo }}" id="respuesta{{ i }}_{{ asignatura.codigogrupo }}" value="{{ i }}" {% if value == i  %} checked {% endif %}>
                                <label for="respuesta{{ i }}_{{ asignatura.codigogrupo }}">{{ i }}</label>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                    {% else %}
                    {% for i in rango %}
                        <input type="radio" name="respuesta_{{ asignatura.codigogrupo }}" id="respuesta{{ i }}_{{ asignatura.codigogrupo }}" value="{{ i }}">
                        <label for="respuesta{{ i }}_{{ asignatura.codigogrupo }}">{{ i }}</label>
                    {% endfor %}
                    {% endif %}
                {% elif tipo == 'Abierta' %}
                    {% if respuestas %}
                        {% for key, value in respuestas.items %}
                            {% if key == asignatura.codigogrupo %}
                                <input type="text" id="respuesta_{{ asignatura.codigogrupo }}" name="respuesta_{{ asignatura.codigogrupo }}" value="{{ value }}">
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <input type="text" id="respuesta_{{ asignatura.codigogrupo }}" name="respuesta_{{ asignatura.codigogrupo }}">
                    {% endif %}
                {% endif %}
            </div>
            {% endfor %}
            {% if numpregunta > 1 %}
            <input type="submit" name="accion" value="Anterior">
            {% endif %}
            <input type="submit" name="accion" value="Siguiente">
            
        </form>
    
    {% else %}
    <p>No hay asignaturas registradas.</p>
    {% endif %}
</body>
</html>