<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finalizar Encuesta</title>
</head>
<body>
    <h1>Evaluación Integral</h1>
    Muchas gracias por su valiosa participación y contribución al llenar la Evaluación Integral de Docentes y Cursos.
    A partir de su retroalimentación mejorará el desempeño de docentes y el desarrollo de cursos en periodos siguientes.
    <a href="{% url 'evaluacion:inicio' %}">Volver</a>
    <a href="{% url 'evaluacion:logout' %}">Cerrar sesión</a>
</body>
</html>