<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;600&family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'Evaluacion/info_estudiante.css' %}">
    <script src="https://kit.fontawesome.com/a9e228592b.js" crossorigin="anonymous"></script>
    <title>Información personal</title>
</head>
<body>
    <header class="cabecera">
        <nav class="nav-bar">
            <div class="navbar-texts">

                <h1>EVALUACIÓN INTEGRAL DE DOCENTES Y CURSOS</h1>

            </div>
            <picture class="logo">
                <img class="logo-img" src="{% static 'Evaluacion/escudoUnal.svg' %}" alt="Escudo UNAL">
            </picture>
        </nav>
    </header>
    <article>
        <div class="box_title">
            <h1 class="article__h1">Datos Personales</h1>
        </div>


        <div class="box-content">

            <div class="sidebar">
                <ul>
                    <li class="sidebar__li"><a href="{% url 'evaluacion:info_estudiante' %}"><i
                                class="fas fa-graduation-cap" style="color: #ffffff;"></i>Estudiante</a></li>
                    <li class="sidebar__li"><a href="{% url 'evaluacion:info_asignaturas' %}"><i class="fas fa-book"
                                style="color: #ffffff;"></i>Asignaturas</a></li>

                </ul>
            </div>
            {% if datos %}
            <div class="table">
                <table>
                    <tr>
                        <td class="table-item">Usuario</td>
                        <td class="table-info">{{ datos.usuario }}</td>
                    </tr>
                    <tr>
                        <td class="table-item">Nombres</td>
                        <td class="table-info">{{ datos.nombres }}</td>
                    </tr>
                    <tr>
                        <td class="table-item">Apellidos</td>
                        <td class="table-info">{{ datos.apellidos }}</td>
                    </tr>
                    <tr>
                        <td class="table-item">Sede</td>
                        <td class="table-info">{{ datos.sede }}</td>
                    </tr>
                    <tr>
                        <td class="table-item">Facultad</td>
                        <td class="table-info">{{ datos.facultad }}</td>
                    </tr>
                    <tr>
                        <td class="table-item">Grado</td>
                        <td class="table-info">{{ datos.grado }}</td>
                    </tr>
                    <tr>
                        <td class="table-item">Carrera</td>
                        <td class="table-info">{{ datos.carrera }}</td>
                    </tr>
                    <tr>
                        <td class="table-item">PAPA</td>
                        <td class="table-info">{{ datos.PAPA }}</td>
                    </tr>
                    <tr>
                        <td class="table-item">PAPPI</td>
                        <td class="table-info">{{ datos.PAPPI }}</td>
                    </tr>
                    <tr>
                        <td class="table-item">PA</td>
                        <td class="table-info">{{ datos.PA }}</td>
                    </tr>
                    </table>
            </div>
            {% else %}
            No hay información disponible
            {% endif %}
        </div>

    </article>
    <footer class="box-buttoms">
        
        <a href="{% url 'evaluacion:inicio' %}" class="return">Volver al menú</a>
        <a href="{% url 'evaluacion:logout' %}" class="logout">Cerrar sesión</a>
    </footer>
      
</body>
</html>