<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Información de Encuesta</title>
</head>
<body>
    <h1>EVALUACIÓN INTEGRAL</h1>
    <p>
        La presente encuesta hace parte del modelo de Evaluación Docente Integral de la Universidad Nacional de Colombia EDIFICANDO.
        Pretende conocer su apreciación sobre el desempeño de los docentes con los que tuvo contacto en las actividades académicas inscritas durante el período académico que está concluyendo.
        La información que aportará es confidencial y anónima. Su valiosa opinión, más la de otras fuentes, ayudará a construir una calificación integral de todos los docentes de la Universidad Nacional de Colombia,
        con el objeto de emprender acciones para el sostenimiento de su calidad, y el mejoramiento continuo.<br>
        A continuación encontrará una serie de preguntas que exploran los atributos principales de la función docente y el desarrollo de las asignaturas,
        con diferentes opciones de respuesta. Podrá calificar de manera simultánea a todos los docentes y materias con las que estuvo en contacto en relación con cada una de las preguntas.
        Al final encontrará dos preguntas a las que podrá dar respuesta abierta y que sin ningún tipo de edición o procesamiento, serán retroalimentadas a sus docentes.
    </p>
    <a href="{% url 'evaluacion:encuesta' %}">Iniciar la encuesta</a>
    <a href="{% url 'evaluacion:logout' %}">Cerrar sesión</a>
</body>
</html>