<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio Administrativo</title>
</head>
<body>
    <h1>Bienvenido, Administrativo</h1>
    Una vez culmine la fase de aplicación de la encuesta a estudiantes, podrá consultar los resultados de los docentes en el periodo actual,
    haciendo clic en "Consultar resultados por docente" y eligiendo el periodo deseado. Podrá consultar los resultados de periodos previos,
    seleccionando el periodo correspondiente en el botón azul. Igualmente podrá agregar, eliminar, actualizar o crear preguntas para la Evaluación Integral de Docentes y Cursos haciendo clic en “Modificar preguntas”.
    
    Mostrar Preguntas
    Consultar resultados por docente
    <a href="{% url 'evaluacion:eleccion_docente' %}">Consultar Resultados por Docente</a>

    <a href="{% url 'evaluacion:logout' %}">Cerrar sesión</a>
</body>
</html>