<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio Profesor</title>
</head>
<body>
    <h1>Bienvenido(a), Docente</h1>
    preguntas evaluativas
    <a href="{% url 'evaluacion:preguntas_evaluativas' %}">Preguntas Evaluativas</a>
    documentación
    <a href="{% url 'evaluacion:documentacion' %}">Documentación</a>
    consultar mis resultados

    
    <a href="{% url 'evaluacion:logout' %}">Cerrar sesión</a>
</body>
</html>