<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preguntas Evaluativas</title>
</head>
<body>
    {% if asignatura or profesor %}
        Preguntas Evaluativas:
        {% if asignatura %}
            <h1>Preguntas con respecto a la asignatura:</h1>
            <ol>
            {% for pregunta in asignatura %}
                <li>{{ pregunta }}</li>
            {% endfor %}
            </ol>
        {% endif %}

        {% if profesor %}
            <h1>Preguntas con respecto al profesor:</h1>
            <ol>
            {% for pregunta in profesor %}
                <li>{{ pregunta }}</li>
            {% endfor %}
            </ol>
        {% endif %}
    {% else %}
        <h1>No hay preguntas evaluativas</h1>
    {% endif %}

    Volver al menú principal
    <a href="{% url 'evaluacion:inicio' %}">Volver</a>
    documentación
    <a href="{% url 'evaluacion:documentacion' %}">Documentación</a>
    Consultar mis resultados
    Cerrar sesión
    <a href="{% url 'evaluacion:logout' %}">Cerrar sesión</a>
</body>
</html>