<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados Abiertos</title>
</head>
<body>
    <h1>Resultados Abiertos</h1>
    Calificación Abierta:
    <br>
    {% for pregunta, contenido in preguntas.items %}
        <strong>Pregunta {{ forloop.counter }}:</strong><br>

        {{ contenido.descripcion }}

        {% for grupo, resultados in contenido.items %}

            {% if grupo != "descripcion" %}
                <div>Grupo {{ grupo}} {{ resultados.asignatura }}:
                    {% if resultados.resultados %}
                        {% for respuesta in resultados.resultados %}
                            <div>{{ respuesta }}</div>
                        {% endfor %}
                    {% else %}
                        <div>No hay resultados disponibles</div>
                    {% endif %}
                    
                </div>
            {% endif %}

        {% endfor %}
        <br>
    {% endfor %}

    <a href="{% url 'evaluacion:inicio' %}">Volver</a>
    <a href="{% url 'evaluacion:resultados_numericos' %}">Calificación Numérica</a>
    <a href="{% url 'evaluacion:logout' %}">Cerrar sesión</a>

</body>
</html>