* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
html {
    font-size: 62.5%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

article {
    padding-top: 9rem; /* Add some padding to the top of the body equal to the height of the navigation bar */
    
}

.cabecera {
    display: flex;
    width: 100%;
}
.nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 6rem;
    position: fixed;
    background: #226F54;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
}

.navbar-texts {
    margin-left: 30vw;
    font-size: 1.3rem ;
    font-family: 'League Spartan', sans-serif;
    line-height: 1.4;
    color:white;
    text-shadow: 2px 2px 7px black;
}

.logo img{
    width: 150px;
    justify-self: flex-end;
}
.box-title{
    display: flex;
   
    padding: 10px 20px;
   
    justify-content: center;
    align-items: center;
    align-content: center;
}
.h1{
    background-color: #215e49;
    margin:  10px auto;
    padding: 10px 20px;
    box-sizing: content-box;
    display: inline-block;
    border-radius: 20px;
    color: white;
    font-size: 3rem;
    font-family: 'League Spartan', sans-serif;
        
}

.box-text{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    align-content: center;
    padding: 10px 20px;
    margin: 10px 150px;
    
}

.box-result{
    padding: 0px 20px 10px 20px;
}

.box-result p {
    padding: 10px 0px 10px 0px;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size:1.8rem;
}






.tipe{
    background-color: #226F54;
    padding: 10px 20px;
    box-sizing:content-box;
    align-self: flex-start;
    border-radius: 20px;
    color: white;
    font-size: 2rem;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}

.q-number {
    color: #226F54;
    font-weight: 700;
   
    box-sizing: border-box;
    display: inline-block;
    font-size: 1.8rem;
    font-family: 'Roboto', sans-serif;
}
 .group {
    color: #226F54;
    padding: 0px 20px;
    box-sizing: border-box;
    display: inline-block;
    font-size: 1.8rem;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}

.error {
    color: black;
    padding: 10px 20px;
    box-sizing: border-box;
   
    font-size: 1.8rem;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    margin:0;
  
}


.box-result img{
    width:400px;
}

.img{
    margin:10px 150px;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    
}

.q-number h1{
    padding: 10px;
}


.box-buttoms{
    display: flex;
    padding: 10px 20px;
    margin:10px 150px;
    justify-content: space-between;
    align-items: flex-end;
    align-content: flex-end; 
}

.logout{
    background-color: #DA2C38;
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    border-radius: 20px;
    padding: 1rem;
    font-weight: 550;
    color: white;
    font-size: 1.8rem;
    font-family: 'League Spartan', sans-serif;
    box-shadow: 10px 10px 14px -6px rgba(0,0,0,0.54);



    
}

.logout:hover{
    padding: 1rem;
    background-color: #c01420;
}



.results{
    background-color: #226F54;
    box-sizing: content-box; 
    text-align: center;
    align-items: center;
    border-radius: 20px;
    padding: 1rem;
    font-weight: 550;
    color: white;
    font-size: 1.8rem;
    font-family: 'League Spartan', sans-serif;
    box-shadow: 10px 10px 14px -6px rgba(0,0,0,0.54);
}


.results:hover{
    padding: 1rem;
    background-color: #215e49;
}

.return{
    background-color: #57B4E9;
    box-sizing: border-box;
    text-align: center;
    border-radius: 20px;
    padding: 1rem;
    font-weight: 550;
    color: white;
    font-size: 1.8rem;
    font-family: 'League Spartan', sans-serif;
    box-shadow: 10px 10px 14px -6px rgba(0,0,0,0.54);
   

    
}

.return:hover{
    padding: 1rem;
    background-color: #297cac;

}